:host {
  table {
    width: 100%;
    margin-top: 1em;

    .cdk-header-cell {
      padding-left: 15px;
    }

    .table-header {
      text-align: justify;
    }

    .table-cell {
      text-align: justify;
      padding-left: 15px;
    }

    .edit {
      margin-right: 5px;
      i {
        color: #d9cd26;
      }
    }

    .remove {
      i {
        color: #e35e6b;
      }
    }
  }
}
