<mat-card [formGroup]="productForm">
  <mat-card-title>Novo Produto</mat-card-title>
  <div class="form-group">
    <mat-form-field>
      <input matInput placeholder="Nome" formControlName="name" />
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Preço" formControlName="price" />
    </mat-form-field>
  </div>

  <button mat-raised-button (click)="addProduct()" color="primary">
    Salvar
  </button>

  <button mat-raised-button (click)="cancel()">
    Cancelar
  </button>
</mat-card>
