<mat-card>
  <mat-card-title>Excluir Produto</mat-card-title>
  <div class="form-group">
    <mat-form-field>
      <input disabled [value]="product.name" matInput placeholder="Nome" />
    </mat-form-field>

    <mat-form-field>
      <input disabled [value]="product.price" matInput placeholder="Preço" />
    </mat-form-field>
  </div>

  <button mat-raised-button (click)="removeProduct(product.id)" color="warn">
    Remover
  </button>

  <button mat-raised-button (click)="cancel()">
    Cancelar
  </button>
</mat-card>
