<mat-card>
  <mat-card-title>Excluir Produto</mat-card-title>
  <div class="form-group" [formGroup]="removalProductForm">
    <mat-form-field>
      <input disabled matInput placeholder="Nome" formControlName="name" />
    </mat-form-field>

    <mat-form-field>
      <input disabled matInput placeholder="Preço" formControlName="price" />
    </mat-form-field>
  </div>

  <button mat-raised-button (click)="removeProduct(product.id)" color="warn">
    Remover
  </button>

  <button mat-raised-button (click)="cancel()">
    Cancelar
  </button>
</mat-card>
