<mat-card>
  <mat-card-title>Alterar Produto</mat-card-title>
  <div class="form-group" [formGroup]="productUpdateForm">
    <mat-form-field>
      <input  matInput placeholder="Nome" formControlName="name"/>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Preço" formControlName="price" />
    </mat-form-field>
  </div>

  <button mat-raised-button (click)="updateProduct()" color="accent">
    Atualizar
  </button>

  <button mat-raised-button (click)="cancel()">
    Cancelar
  </button>
</mat-card>
