<mat-card>
  <mat-card-title>Alterar Produto</mat-card-title>
  <div class="form-group">
    <mat-form-field>
      <input [(ngModel)]="product.name" matInput placeholder="Nome" />
    </mat-form-field>

    <mat-form-field>
      <input [(ngModel)]="product.price" matInput placeholder="Preço" />
    </mat-form-field>
  </div>

  <button mat-raised-button (click)="updateProduct()" color="accent">
    Atualizar
  </button>

  <button mat-raised-button (click)="cancel()">
    Cancelar
  </button>
</mat-card>
