/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.v-middle {
  vertical-align: middle;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

mat-card {
  button {
    margin: 20px 15px 0 0 !important;
  }
}
